<!doctype html>
<html lang="vi">
  <%- include('partials/_head') %>
  <body class="min-h-screen flex flex-col">
    <%- include('partials/_nav') %>
    <main class="flex-1">
      <%- body %>
    </main>
    <%- include('partials/_footer') %>
    <script src="/js/main.js"></script>
  </body>
</html>
