@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, sans-serif;
  background-color: #f9fafb; /* nền xám nhẹ */
}
