<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= site.title %>
    </title>
    <meta name="description" content="<%= site.description %>" />
    <meta property="og:title" content="<%= site.title %>" />
    <meta property="og:description" content="<%= site.description %>" />
    <link rel="icon" href="/images/avatar.jpg" />
    <!-- Tailwind qua CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/custom.css" />
</head>